-
    const title = "About";

    const teamItems = [
        {
            className: "people",
            header: "Creative People Working",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus lobortis orci, sed vestibulum leo dapibus et. Fusce in dolor velit, sit amet vehicula est. Integer elit sapien, varius in tristique et, bibendum quis enim. Donec scelerisque ante neque, at pulvinar risus. Nullam semper sagittis magna, nec elementum neque facilisis et. Nulla ullamcorper tincidunt massa.",
            button: { html: "Read More", modification: "plus" }
        },
        {
            className: "professionals",
            header: "Creative People Working",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus lobortis orci, sed vestibulum leo dapibus et. Fusce in dolor velit, sit amet vehicula est. Integer elit sapien, varius in tristique et, bibendum quis enim. Donec scelerisque ante neque, at pulvinar risus. Nullam semper sagittis magna, nec elementum neque facilisis et. Nulla ullamcorper tincidunt massa.",
            button: { html: "Read More", modification: "plus" }
        },
        {
            className: "quality",
            header: "Creative People Working",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus lobortis orci, sed vestibulum leo dapibus et. Fusce in dolor velit, sit amet vehicula est. Integer elit sapien, varius in tristique et, bibendum quis enim. Donec scelerisque ante neque, at pulvinar risus. Nullam semper sagittis magna, nec elementum neque facilisis et. Nulla ullamcorper tincidunt massa.",
            button: { html: "Read More", modification: "plus" }
        }
    ];