-
    const title = "Blog";

    const asideNav = {
        categories: [
            [
                { text: "App Media" },
                { text: "Branding" },
                { text: "Case Study" },
                { text: "Digital Art" },
                { text: "E-mail" },
            ],
            [
                { text: "Featured Articles" },
                { text: "Graphic Design" },
                { text: "Jobs" },
                { text: "Multimedia" },
                { text: "Networks" },
            ]
        ],
        archive: [
            [
                { text: "January 2010" },
                { text: "February 2010" },
                { text: "March 2010" },
                { text: "April 2010" },
                { text: "May 2010" },
                { text: "June 2010" },
            ],
            [
                { text: "July 2010" },
                { text: "August 2010" },
                { text: "September 2010" },
                { text: "October 2010" },
                { text: "November 2010" },
                { text: "December 2010" },
            ]
        ]
    };

    const recentComments = [
        {
            author: "Nuko",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
            date: { text: "January 2010" },
            topic: { text: "How to make a good site" }
        },
        {
            author: "Nuko",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
            date: { text: "January 2010" },
            topic: { text: "How to make a good site" }
        },
        {
            author: "Nuko",
            text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
            date: { text: "January 2010" },
            topic: { text: "How to make a good site" }
        },
    ];

    const posts = [
        {
            title: "How to make a good site with BrandMedia",
            date: { text: "18 June 2010" },
            author: { name: "Nuko" },
            comments: { count: 175 },
            categories: [
                { name: "Tutorials" },
                { name: "Networks" },
            ],
            text: [
                `Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="blog-post__text-link">Donec</a> nisl felis, lobortis ac vulputate et, cursus eget tellus. Donec in ipsum nec tellus malesuada sodales non ac sem. Aliquam erat volutpat. Proin in velit nec tellus egestas auctor et eget nulla. Maecenas gravida lacus non leo congue elementum. Praesent tincidunt lectus nec felis hendrerit id blandit ante consequat. Proin bibendum, arcu eu lobortis egestas, massa leo ullamcorper dolor, non ullamcorper neque magna quis diam. <a href="#" class="blog-post__text-link">Praesent</a> interdum neque id nulla accumsan euismod. Curabitur sit amet ornare purus. Aliquam erat volutpat.`,
                 `\`Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\``
            ]
        },
        {
            title: "How to make a good site with BrandMedia",
            date: { text: "18 June 2010" },
            author: { name: "Nuko"},
            comments: { count: 175},
            categories: [
                { name: "Tutorials" },
                { name: "Networks" },
            ],
            text: [
                `Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="blog-post__text-link">Donec</a> nisl felis, lobortis ac vulputate et, cursus eget tellus. Donec in ipsum nec tellus malesuada sodales non ac sem. Aliquam erat volutpat. Proin in velit nec tellus egestas auctor et eget nulla. Maecenas gravida lacus non leo congue elementum. Praesent tincidunt lectus nec felis hendrerit id blandit ante consequat. Proin bibendum, arcu eu lobortis egestas, massa leo ullamcorper dolor, non ullamcorper neque magna quis diam. <a href="#" class="blog-post__text-link">Praesent</a> interdum neque id nulla accumsan euismod. Curabitur sit amet ornare purus. Aliquam erat volutpat.`,
                `\`Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\``
            ]
        }
    ];