-
    const title = "Home";

    const aboutOffers = [
        {
            header: {
                title: "who are we",
                subtitle: "Something about us"
            },
            article: {
                header: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl felis, lobortis ac vulputate et, cursus eget tellus. Donec in ipsum nec tellus malesuada sodales non ac sem. Aliquam erat volutpat. Proin in velit nec tellus egestas auctor et eget nulla.",
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl felis, lobortis ac vulputate et, cursus eget tellus. Donec in ipsum nec tellus malesuada sodales non ac sem. Aliquam erat volutpat. Proin in velit nec tellus egestas auctor et eget nulla. Maecenas gravida lacus non leo congue elementum. Praesent tincidunt lectus nec felis hendrerit id blandit ante consequat. Proin bibendum, arcu eu lobortis egestas, massa leo ullamcorper dolor, non ullamcorper neque magna quis diam. Praesent interdum neque id nulla accumsan euismod. Curabitur sit amet ornare purus. Aliquam erat volutpat.",
                image: {
                    src: "images/index/about_us.png",
                    alt: "about us"
                },
                buttons: [
                    { text: "Read More", modification: "plus" },
                    { text: "Facebook", modification: "facebook" },
                    { text: "Follow Us", modification: "twitter" },
                    { text: "Get in Touch", modification: "touch" }
                ]
            }
        },
        {
            header: {
                title: "why hire us",
                subtitle: "Look at how we work"
            },
            article: {
                header: `Title of the tab "why hire us"`,
                text: `Description of the tab "why hire us".`,
                image: {
                    src: "images/index/about_us.png",
                    alt: "about us"
                }
            }
        },
        {
            header: {
                title: "we can offer",
                subtitle: "The best services"
            },
            article: {
                header: `Title of the tab "we can offer"`,
                text: `Description of the tab "we can offer".`,
                image: {
                    src: "images/index/about_us.png",
                    alt: "About Us"
                }
            }
        },
        {
            header: {
                title: "testimonials",
                subtitle: "Costumer testimonials"
            },
            article: {
                header: `Title of the tab "testimonials"`,
                text: `Description of the tab "testimonials".`
            }
        }
    ];