-
    const title = "Portfolio";

    //- Так в дизайне все примеры одинаковы, они выводятся в цикле while
    let _logoDesignExamplesCount = 9; //- временная переменная, нужна только для цикла.

    const logoDesignExamples = [
        {
            header: "Quisque eget odio ac lectus",
            roles: [
                { text: "Logo Design" },
                { text: "Brand Identy" }
            ],
            buttons: { study: "#", readMore: "#" }
        }
    ];