head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")


    link(type="image/x-icon" href= path.favicon rel="shortcut icon")
    link(type="Image/x-icon" href= path.favicon rel="icon")

    title= `Brandmedia | ${ title }`

    meta(name="keywords" content= keywords.join(", "))
    meta(name="description" content= description)

    script(src="https://kit.fontawesome.com/6409aaf1cb.js" crossorigin="anonymous")
    link(rel="stylesheet" href= path.styles)